<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  <servlet>
     <servlet-name>HelloServlet</servlet-name>
     <servlet-class>wyf.HelloServlet</servlet-class>
  </servlet>
<servlet-mapping>
  <servlet-name>HelloServlet</servlet-name>
  <url-pattern>/HelloServlet</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>Servlet</servlet-name>
     <servlet-class>wyf.Servlet</servlet-class>
     <init-param>
     	<param-name>initp</param-name>
     	<param-value>welcome to you</param-value>
     </init-param>
</servlet>
<servlet-mapping>
  <servlet-name>Servlet</servlet-name>
  <url-pattern>/Servlet</url-pattern>
</servlet-mapping>

</web-app>
