A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
.path {
	FONT-SIZE: 10pt; WORD-SPACING: 3pt; COLOR: #333333; LINE-HEIGHT: 16pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.left_function {
	FONT-SIZE: 10pt; COLOR: #4c4c4c; LETTER-SPACING: 3pt
}
.list {
	FONT-SIZE: 10pt; COLOR: #4c4c4c; LETTER-SPACING: 3pt
}
.embed_title {
	FONT-SIZE: 10pt; COLOR: #333333
}
.content {
	FONT-SIZE: 10pt; LINE-HEIGHT: 15pt
}
.head_link {
	FONT-SIZE: 9pt; COLOR: #73521e
}
.hi_light {
	FONT-SIZE: 9pt; COLOR: #cc0000; LINE-HEIGHT: 9pt
}
.msg {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 1pt
}
.list {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 14pt
}
.copyright {
	FONT-SIZE: 10pt; COLOR: #666666; LINE-HEIGHT: 16pt; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #c5e4e6; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 10pt; LINE-HEIGHT: 15pt
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-COLOR: #c1dfb3; TEXT-ALIGN: center
}
.whitefont {
	COLOR: #ffffff
}
.td_bg0 {
	BACKGROUND-COLOR: #d9d9d9
}
.td_bg1 {
	BACKGROUND-COLOR: #ffffff
}
.title_table {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; LINE-HEIGHT: 16pt; BACKGROUND-COLOR: #f9bfb3
}
.table_bg0 {
	BACKGROUND-COLOR: #6c6c00
}
.law_1 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 12pt; FONT-FAMILY: "º–∑¢≈È"; TEXT-ALIGN: right
}
.greenfont {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #6c6c00
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; TEXT-INDENT: 10pt
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; TEXT-INDENT: 20pt
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; TEXT-INDENT: 30pt
}
.small_w {
	FONT-SIZE: 3pt; COLOR: #ffffff
}
.small_w:link {
	FONT-SIZE: 3pt; COLOR: #ffffff
}
.small_w:active {
	FONT-SIZE: 3pt; COLOR: #ffffff
}
.small_w:hover {
	FONT-SIZE: 3pt; COLOR: #ffffff
}
.bluefont {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #0000cc; LINE-HEIGHT: 15pt
}
.redfont {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #cc0000; LINE-HEIGHT: 15pt
}
.bluefont1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0000cc; LINE-HEIGHT: 15pt
}
.redfont1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; LINE-HEIGHT: 15pt
}
.right_tb {
	BORDER-RIGHT: #657390 1px solid; BORDER-TOP: #657390 1px solid; BORDER-LEFT: #657390 1px solid; BORDER-BOTTOM: #657390 1px solid
}
.li2 {
	LIST-STYLE-IMAGE: url(/Template/themes/index/img/li_2.gif)
}
.dotline {
	BORDER-RIGHT: #8f8f8f 0px dotted; BORDER-TOP: #8f8f8f 0px dotted; BORDER-LEFT: #8f8f8f 0px dotted; BORDER-BOTTOM: #8f8f8f 1px dotted
}
.center_tab {
	BORDER-RIGHT: #8f8f8f 1px solid; BORDER-TOP: #8f8f8f 0px solid; BORDER-LEFT: #8f8f8f 1px solid; BORDER-BOTTOM: #8f8f8f 1px solid
}
.center_tab2 {
	BORDER-RIGHT: #a2b1b8 1px solid; BORDER-TOP: #a2b1b8 0px solid; BORDER-LEFT: #a2b1b8 1px solid; BORDER-BOTTOM: #a2b1b8 1px solid
}
.linebg {
	BACKGROUND-COLOR: #ababab
}
.left_tb1 {
	BORDER-RIGHT: #e4f6f0 1px solid; BORDER-TOP: #e4f6f0 0px solid; BORDER-LEFT: #e4f6f0 1px solid; BORDER-BOTTOM: #e4f6f0 1px solid; BACKGROUND-COLOR: #e4f6f0
}
.titlebg1 {
	BACKGROUND-COLOR: #d2d5e5
}
.titlebg2 {
	BACKGROUND-COLOR: #5ca7b1
}
.li3 {
	LIST-STYLE-IMAGE: url(/Template/themes/index/img/lefticon.gif); LINE-HEIGHT: 22px
}
.li1 {
	LIST-STYLE-IMAGE: url(/site/41490473/files/buttom_11.gif); LINE-HEIGHT: 22px
}
.left_tbCopy {
	BORDER-RIGHT: #e0e7ea 1px solid; BORDER-TOP: #e0e7ea 0px solid; BORDER-LEFT: #e0e7ea 1px solid; BORDER-BOTTOM: #e0e7ea 1px solid
}
.right_tb {
	BORDER-RIGHT: #aed6d5 1px solid; BORDER-TOP: #aed6d5 0px solid; BORDER-LEFT: #aed6d5 1px solid; BORDER-BOTTOM: #aed6d5 0px solid; BACKGROUND-COLOR: #f7f7f7
}
.left_bg {
	BORDER-RIGHT: #e0e7ea 1px solid; BORDER-TOP: #e0e7ea 0px solid; BORDER-LEFT: #e0e7ea 1px solid; BORDER-BOTTOM: #e0e7ea 1px solid
}
.rightfont1 {
	COLOR: #666666
}
.buttom_bg {
	BORDER-RIGHT: #9e0b0e 1px solid; BORDER-TOP: #9e0b0e 0px solid; BORDER-LEFT: #9e0b0e 1px solid; BORDER-BOTTOM: #9e0b0e 1px solid
}
.right_tb2 {
	BORDER-RIGHT: #aed6d5 2px solid; BORDER-TOP: #aed6d5 1px solid; BORDER-LEFT: #aed6d5 2px solid; COLOR: #003399; BORDER-BOTTOM: #aed6d5 1px solid; BACKGROUND-COLOR: #dfe7e9
}
.datefont {
	FONT-SIZE: 10pt; COLOR: #ffffff; LINE-HEIGHT: 15pt
}
.layerbg {
	BACKGROUND-COLOR: #e6e6e6
}
.layerbg2 {
	BACKGROUND-COLOR: #50bab1
}
.div_desc {
	BACKGROUND-COLOR: #50bab1
}
